/* ----------------
- Imports!
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');

/* Basics: HTML, Body, Anchor, H1-6, Paragraph */
html { /* HTML */
	max-width: 980px;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	margin: auto; 
	background-color: #f1f1f1;
	color: #383b3e;
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 { /* H1-6 */
	font-weight: 600;
	margin-bottom: 4px;
}

p { /* Paragraph */
	margin-left: 18px;
}
	p.description {
		color: rgba(150, 150, 150, 1.0);
		font-style: italic;
	}
	p.description:before {
		content: "-- ";
	}
	p.description:after {
		content: " --";
	}

hr { /* Line */
	margin-bottom: 12px;
	color: rgba(200, 200, 200, 1.0);
	width: auto;
}

a { /* Anchor */
  color: #2a7ae2;
  text-decoration: none;
}
	a:visited {
	  color: #1756a9;
	}
	a:hover {
	  color: #111;
	  border-bottom: 2px dotted #101010;
	  cursor: pointer;
	}
	a.nodash:hover { /* Removes the dot line bottom anchor */
		border-bottom: 0px;
		cursor: pointer;
	}
	a.button {
		padding: 8px 32px; 
		background-color: #555; 
		border-radius: 0px; 
		border-width: 0px; 
		text-decoration: none; 
		color: white; 
		font-size: 25.0px; 
		line-height: 2.5em;
	}
	a.button:hover {
		background-color: #777;
	}

	a.button_big {
		padding: 0.5em;
		background-image: linear-gradient(to top, #427b0e, #9ba97d); 
		background-color: lightgray; 
		background-blend-mode: multiply; 
		border-radius: 4px; 
		border-width: 0px; 
		text-decoration: none;
		min-width: 150px; 
		max-width: 150px; 
		min-height: 150px; 
		max-height: 150px; 
		display: inline-block; 
		vertical-align: top; 
		margin: 4px 4px 10px 4px; 
		color: white; 
		font-size: 25.0px; 
		background-size: auto 100%; 
		background-position-x: center;
	}
	a.button_big:hover {
		background-color: white; 
		color: #e6d23f; 
		text-decoration: underline;
	}

table { /* Table */
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}
	table tr:nth-child(even) {
	  background-color: #f7f7f7;
	}
	table th, table td {
	  padding: 10px 15px;
	}
	table th {
	  background-color: #f0f0f0;
	  border: 1px solid #dedede;
	  border-bottom-color: #c9c9c9;
	}
	table td {
	  border: 1px solid #e8e8e8;
	}

img { /* Image */
	max-width: 100%;
	vertical-align: top;
}

code { /* Code B;pcl */
	background-color: #F0EDDE;
	color: #fefefe;
	padding: 1em;
	font-family: monospace; 
	font-size: 20; 
	font-weight: normal; 
}

ul { /* List */
  margin: 0;
}
	ul.dashed {
	  list-style-type: none;
	}
	ul.dashed > li {
	  text-indent: -5px;
	}
	ul.dashed > li:before {
	  content: "- ";
	  text-indent: -5px;
	}

/* Containers */
.container-body { /* Container Body (Used only index.html) */
	padding: 4px 4px;
	position: relative;
}

video#videoFullscreenBG { /* Fullscreen video on page background */
	object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: grayscale(50%) blur(2px) opacity(20%);
}

.sidebar { /* Side Bar (For API Reference) */
	left: 0px;
	position: fixed;
	top: 0px;
	padding-top:40px;
	padding-left:20px;
	bottom: 0;
	overflow-y: scroll;
	width: 15em;
	z-index: 1;
	overflow: scroll;
}

#copyright {
		opacity: 0.5;
		padding-top: 50px;
		text-align: center;
}

.icon-small {
	border-radius: 2px;
	width: auto;
	height: 20px;
}
/*------------------------------*/
/* App Box (for Random Project) */
/*------------------------------*/

/* App list */
.applist {
    position: relative;
}

/* App box */
.appbox {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 0 2px #ccc;
    padding: 16px 0;
    margin-top: 16px;
}

.appbox_logo { /* App box Logo */
    margin-left: 16px;
    width: 256px;
    position: absolute;
	}
	.appbox_logo img {
    	width: 256px;
    	height: auto;
}

.appbox_info { /* App box Info Container*/ 
    margin-right: 16px;
    margin-left: 290px;
    min-height: 256px;
    position: relative;
}
.appbox_title { /* App box Title */
    font-size: 28px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 4px;
}
.appbox_author { /* App box Author */
    font-size: 12px;
    margin-left: 4px;
}
.appbox_details { /* App box Details */
    font-size: 12px;
    margin-top: 4px;
}
.appbox_description { /* App box Description*/
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 24px;
}
.appbox_screenshots img { /* App box screenshots - <img> tag */
    height: 112px;
    width: auto;
    padding: 2px;
    cursor: zoom-in;
	}
	.appbox_screenshots a:hover { /* Removes the dotted line when hovering over an anchor */
		border: none;
}
.appbox_download a.button { /* App box Download button (a.button mod) */
		padding: 10px 16px; 
		background-image: linear-gradient(0deg, #d45a5a, #d45a5a);
		border: 4px solid #af4b4b;
		border-radius: 2px; 
		border-width: 0px; 
		text-decoration: none; 
		color: #fefefe; 
		font-size: 14.0px; 
		line-height: 2.5em;
		border-bottom: 0px;
		cursor: pointer;
	}
	.appbox_download a.button:hover {
    	background-image: linear-gradient(0deg, #e96565, #e96565);
	}
	.appbox_title .appbox_download {
    	float: right;
}

a.button-icon { /* Mini anchors with icon without background and dotted line */
		border:none;
		cursor:pointer;
		color: #383b3e;
		font-size: 14.0px;
		text-decoration: none;
	}
	a.button-icon:hover {
		border:none;
		cursor:pointer;
		color: #5f6368;
		font-size: 14.0px;
		text-decoration: none;
}

#aboutMe p {
    text-align: justify;
}